package models

import "e-backend/pkg/ebackend/crud"

type {{ .MdlNameCap }} struct {
	crud.Model
	Name string `gorm:"index"`
}

type {{ .MdlNameCap }}ListFilter struct {
	crud.ListFilter
	Search string
}
