package service

import (
	"e-backend/pkg/ebackend/crud"
	"e-backend/modules/{{ .MdlName }}/models"
)

type Service struct {
	crud.Service[models.{{ .MdlNameCap }}, models.{{ .MdlNameCap }}ListFilter]
}

func NewService(repo crud.CRUDRepository[models.{{ .MdlNameCap }}, models.{{ .MdlNameCap }}ListFilter]) *Service {
	return &Service{*crud.NewService(repo)}
}
