[Unit]
Description=e-backend-boilerplate
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Restart=on-failure
RestartSec=5s

User=root

WorkingDirectory=/opt/e-backend-boilerplate
ExecStart=/opt/e-backend-boilerplate/e-backend-boilerplate serve

[Install]
WantedBy=multi-user.target
